html,body,content,p,a {
  font-family: "Times New Roman", Times, serif;
  line-height: 4vh;
  font-size: 3vh;
  font-style: italic;
  color: white;
}

body {
  height:100vh;
  width:100vw;
  display:flex;
  background-color: #000812
}

content {
  height: 100vh;
  width:   40vw;
  padding: 20vh 1vw;
  position:fixed;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 5vh;
}

p {
  font-size: 3vh;
}

a {
  padding-left: 4vw;
  display:block;
}

a, a:link {
  color: MediumSeaGreen;
}

a, a:visited {
  color: DarkBlue;
}

a, a:hover {
  color: Green;
}

a, a:active {
  color: Red;
}

img {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
}
