html {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 1rem;
    border: 0;
    padding: 0;
    box sizing: border-box;
    height: 100vh;
    background-color: #000812;
}

header, nav, main, footer {
    border-radius: 0.5rem;
    background-color: rgba(128,128,128,0.4);
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    font-style: italic;
    color: white;
}

header {
    margin: 0 0 0.5rem 0;
    border: 0;
    padding: 0;
    height: 2rem;
}

header p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}

nav {
    float: left;
    margin: 0 0 0.5rem 0;
    border: 0.5rem;
    padding: 0;
    width: 24%;
}

main {
    margin: 0 0 0.5rem 0;
    border: 0;
    box-sizing: border-box;
    padding-left: 1rem;
    float: right;
    width: 74%;
    height:calc(100vh - 10rem);
    text-indent: 4rem;
}

footer {
    float: left;
    width: 100%;
    margin: 0 0 1rem 0;
    border: 0;
    padding: 0;
    height: auto;
}

footer p {
  margin 0;
  border 0;
  padding 0;
  text-align: center;
  line-height: 1.5rem;
}
