html,body,content,h3,div,p,a,
main,header,footer {
  font-family: "Times New Roman", Times, serif;
  line-height: 4vh;
  font-size: 3vh;
  font-style: italic;
  color: white;
}

body {
  padding-top: 1vh;
  height:100vh;
  width:100vw;
  background-color: #000812
}

header {
  padding: 0 0 0 2vw;
  background-color: DarkGray;
  display: flex;
}

header span {
  padding: 0 1em 0 0;
  color: black;
  flex-grow: 1;
}

#resumeTitle {
  display: inline-block;
  width: 100%;
  color: black;
  text-align: center;
  flex-grow: 19;
}

header a, a:link    {
  text-decoration: none;
  color: MediumSeaGreen;
}
header a, a:visited {
  text-decoration: none;
  color:       SeaGreen;
}
header a, a:hover   {
  text-decoration: underline;
  color:          Green;
}
header a, a:active  {
  text-decoration: none;
  color:            Red;
}

main {
  padding: 0 20vw 0 20vw;
  height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
}

footer {
  padding: 0 0 0 2vw;
  background-color: DarkGray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer span {
  padding: 0 1em 0 0;
  color: black;
}

footer a, a:link    {
  text-decoration: none;
  color: MediumSeaGreen;
}
footer a, a:visited {
  text-decoration: none;
  color:       SeaGreen;
}
footer a, a:hover   {
  text-decoration: underline;
  color:          Green;
}
footer a, a:active  {
  text-decoration: none;
  color:            Red;
}