html,body,content,h3,div,p,a,main,header,footer,
nav, section {
  font-family: "Times New Roman", Times, serif;
  line-height: 4vh;
  font-size: 3vh;
  font-style: italic;
  color: black;
  box-sizing: border-box;
}

body {
  padding-top: 1vh;
  padding-bottom: 1vh;
  height:100vh;
  width:100vw;
  background-color: #000812;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0 0 0 1vw;
  background-color: DarkGray;
  display: flex;
}

header span {
  padding: 0 1em 0 0;
  color: black;
  flex-grow: 1;
}

#resumeTitle {
  display: inline-block;
  width: 100%;
  color: black;
  text-align: center;
  flex-grow: 20
}

header a, a:link    {
  text-decoration: none;
  color: MediumSeaGreen;
}
header a, a:visited {
  text-decoration: none;
  color:       SeaGreen;
}
header a, a:hover   {
  text-decoration: underline;
  color:          Green;
}
header a, a:active  {
  text-decoration: none;
  color:            Red;
}

main {
  box-sizing: border-box;
  border-width: 1vh 1vw;
  border-style: solid;
  border-color: #000812;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width:23vw;  
  padding: 1vh 1vw;
  background-color: darkgrey;
}

section {
  width:74vw;
  padding: 1vh 1vw;
  background-color: darkgrey;
}

footer {
  padding: 0 0 0 1vw;
  background-color: DarkGray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer span {
  padding: 0 1em 0 0;
  color: black;
}

footer a, a:link    {
  text-decoration: none;
  color: MediumSeaGreen;
}
footer a, a:visited {
  text-decoration: none;
  color:       SeaGreen;
}
footer a, a:hover   {
  text-decoration: underline;
  color:          Green;
}
footer a, a:active  {
  text-decoration: none;
  color:            Red;
}