html, body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
    background-color: #000812;
}

body {
  box-sizing: border-box;
  padding: 2vh 1vw;
}

header, nav, main, footer {
    border-radius: 1vw;
    background-color: rgba(128,128,128,0.4);
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    font-style: italic;
    color: white;
}

header {
    margin: 0;
    border: 0;
    padding: 0;
    height: 6vh;
    width: 98vw;
    line-height: 6vh;
    font-size: 3vw;
    text-align: center;
}

nav {
    float: left;
    margin: 2vh 0;
    border: 0;
    padding: 2vh 1vw;
    height: 76vh;
    width: 23vw;
}

.button {
    margin: 5vw;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 2vh;
    padding: 15px 32px;

    height: 4rem;
    width:  10rem;
    display: inline-block;

    box-shadow: 5px 5px 20px 0 rgba(255, 255, 0, 0.3);

    background-color: MediumSeaGreen;

    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;

    cursor: pointer;
}

main {
    float: right;
    margin: 2vh 0;
    border: 0;
    padding: 2vh 1vw;
    height:76vh;
    width: 70vw;
    text-indent: 2vw;
}

footer {
    clear: both;
    margin: 0;
    border: 0;
    padding: 0;
    height: 6vh;
    width: 98vw;
    text-align: center;
    line-height: 6vh;
}
