<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_html_css_projects.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>Well, one can't rule the world, not knowing how to rule himself,
         so that's the way love goes, my own site is the logical firestarter :)
         I will try to build it not only as a presentation board, but also as a playground for 
         different front end tools and functionalities to master my web development skills. 
         We are currently in, but if anyone is interested in the hassle behind the sceenes,
         <a href="https://github.com/Koceto1973/wavelet-online" target="_blank">THIS</a> is it on GitHub,
         live and never ending :)         
       </p>

       <p>Here, I will provide links to other front end projects, where I participate as developer.        
        </p>

    </div>

    {{> footer }}

  </body>

</html>