<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_r.css">
  </head>

  <body>

    <h3>
      <span><a href={{hrefBack}} target="_self">back to {{prevPage}} </a></span>
      <span>{{pageTitle}}</span>
    </h3>

    <div>

      <h2> Oooook, let's get it started!</h2>

    </div>

    <h3>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>
    </h3>

  </body>

</html>
