<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_b.css">
  </head>

  <body>

    {{> header }}

    <div>

      <h4>Platforms/ languages I have experience with:</h4>
      <dl>
        <dt><a href="platforms/c.html" target="_self">C</a></dt>
        <dt><a href="platforms/cplusplus.html" target="_self">C++</a></dt>
        <dt><a href="platforms/csharp.html" target="_self">C#</a></dt>
        <dt><a href="platforms/ado.html" target="_self">ADO.net</a></dt>
        <dt><a href="platforms/mysql.html" target="_self">MySQL</a></dt>
        <dt><a href="platforms/iosswift.html" target="_self">IOS11/ Swift 4.2</a></dt>
        <dt><a href="/b/ht" target="_self">HTML5/ CSS3</a></dt>
        <dt><a href="/b/js" target="_self">JavaScript/ Node.js</a></dt>
        <dt><a href="/b/git" target="_self">Git VCS</a></dt>
      </dl>

      <h4>More of my interests related to programming:</h4>
      <dl>
        <dt><a href="platforms/c.html" target="_self">Math</a></dt>
        <dt><a href="platforms/cplusplus.html" target="_self">Physics</a></dt>
        <dt><a href="platforms/cplusplus.html" target="_self">Computer Science</a></dt>
      </dl>

    </div>

    {{> footer }}

  </body>

</html>
