<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_r.css">
  </head>

  <body>

    <header>
      <span><a href={{hrefBack}} target="_self"><<</a></span>
      <p id="resumeTitle">{{pageTitle}}</p>
    </header>

    <main>
      <nav>
        <ul id="vOptions">
          <li>
            <button class="button">Bio</button>
          </li>
          <li>
            <button class="button">Programming</button>
          </li>
          <li>
            <button class="button">Science</button>
          </li>
          <li>
            <button class="button">Motivation</button>
          </li>
          <li>
            <button class="button">Objectives</button>
          </li>
        </ul>
        <div id="button">
          <button class="button">options</button>
        </div>        
      </nav>
      <section>
        
      </section>
    </main>

    <footer>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>
    </footer>

  </body>

</html>
