<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_r.css">
  </head>

  <body>

    <header>
      <span><a href={{hrefBack}} target="_self"><<</a></span>
      <p id="resumeTitle">{{pageTitle}}</p>
    </header>

    <main>
      <nav>
        <ul class="Options" id="v">
          <li>
            <button id="Bio">Bio</button>
          </li>
          <li>
            <button id="Programming">Programming</button>
          </li>
          <li>
            <button id="Science">Science</button>
          </li>
          <li>
            <button id="Motivation">Motivation</button>
          </li>
          <li>
            <button id="Objectives">Objectives</button>
          </li>
        </ul>
        <div id="Settings">
          <button>Settings</button>
        </div>        
      </nav>
      <section>
        <div id="sectionHeader">
          <ul class="Options" id="h">
          <li>
            <button>C / C++</button>
          </li>
          <li>
            <button>C#</button>
          </li>
          <li>
            <button>Swift</button>
          </li>
          <li>
            <button>HTML / CSS</button>
          </li>
          <li>
            <button>JS / Node.js</button>
          </li>
        </ul>
        </div>
        <div id="lineSeparator"></div>
        <div id="sectionContent">
          <div id="text">
             Text goes here...
          </div>
          <aside>
            <picture>
              <img class="logo_image" src="/ESF.gif">
            </picture>
            <div id="lineSeparator"></div>
            <p id="joke"> More answers, more questions :) </p>
          </aside>
        </div>        
      </section>
    </main>

    <footer>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>
    </footer>

  </body>

  <script src="/script_r.js"></script>
  {{!-- <script src="/helpF.js"></script> --}}

</html>
