<h3>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span><a href=" https://www.hackerrank.com/koceto1973" target="_blank">Hackerrank</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>     
</h3>