<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_ccpp.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>My C experience covers basic syntax, data types, operators, flow control, functions, 
         scope rules, arrays, pointers, strings, structures, unions, bit fields, 
         Console IO, File IO, preprocessor directives, type casting, error handling, 
         recursion, C variadics, memory management and multithreading, command line and bash scripting.</p>
         
        <p>My C++ experience covers working with classes and OOP programing, static overloading 
        of functions and operators, dynamic overloading and virtual functions, IO library, 
        custom templating, STLibrary, smart pointers, lambda functions and more.</p>

        <p>So far I have used them for various tasks in console applications, exploring different
          algorithms performace and data structures analysis. You can also glance over my 
          <a href="https://www.hackerrank.com/koceto1973" target="_blank">Hackerrank</a> profile -
          being active since summer 2019, the record of covered topics ( C, C++, JS, Probability and Statistics,
           Linux bash programming ) may be evidenced. I also took great advantage of Problem Solving 
           practice section - currently ( Feb 2020 ) my rank is 633 among pool of more than 2,500,000 
           registered accounts in Algorithms and Data Structures ( Problem Solving ) section.
        </p>

       <p>I will try to keep track of my C / C++ projects <a href="/b/cp/p" target="_self">here</a>.</p>

    </div>

    {{> footer }}

  </body>

</html>
