<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_ccpp.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>My C experience covers basic syntax, data types, operators, flow control, functions, 
         scope rules, arrays, pointers, strings, structures, unions, bit fields, typedef, 
         Console IO, File IO, preprocessors, type casting, error handling, 
         recursion, variable arguments, memory management, command line arguments.</p>
         
        <p>My C++ experience covers working with classes and OOP programing, static overloading 
        of functions and operators, dynamic overloading and virtual functions, IO library, 
        custom templating and STLibrary.</p>

        <p>So far I have used them for various tasks in console applications, exploring different
          algorithms performace and data structures analysis.
        </p>

       <p>I will try to keep track of my C / C++ projects <a href="/b/cp/p" target="_self">here</a>.</p>

    </div>

    {{> footer }}

  </body>

</html>
