<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_csharp.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>My C# endeavour came naturally after the acquaintance with C and C++.
         Most of the practice and knowledge I've gathered are related to C# version 4.0,
         with the exception of few items I've learned from newer versions.

         It was a kind of fun to build tasks both in C++ and C#,
         comparing approaches and performace results.
       </p>

       <p>I will try to keep track of my C# projects <a href="/b/ch/p" target="_self">here</a>.</p>

    </div>

    {{> footer }}

  </body>

</html>
