<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_data_storage.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>Few of my mobile IOS <a href="/b/io/p" target="_self">projects</a> used Parse Server and Google Firebase as data storage,
       some MongoDB via back end API.</p>

       <p><a href="https://github.com/Koceto1973/node-todo-api" target="_blank">This</a> 
       Node.js Rest API project was exclusively dedicated on usage of MongoDB via Mongoose library.</p>

       <p>Working further, <a href="https://github.com/Koceto1973/pirple-node-master-class-hw-05" target="_blank">this</a> 
       Node.js project served me as a basis for routing MongoDB, MySQL and PostgreSQL simultaneously, by both native and 3rd party interfaces.</p>

       <p>I also had some ADO.net connected model experience, dedicated on usage of SQL Server via C# and SQL query language.</p>

    </div>

    {{> footer }}

  </body>

</html>
