<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_git.css">
  </head>

  <body>

    <h3>
      <a href="../index1.html" target="_self">Back</a>
    </h3>

    <div>
       <p>Despite the vast majority of free resources over the Internet,
         I thought it was reasonable to complete a certified course on
         HTML/CSS. <a href="https://www.udemy.com/html-tutorial/" target="_blank">This</a> was my choice. 
         Having fundamentals sorted correctly, it is a way easier to build up skills further.
       </p>

       <p>I will try to keep track of my html projects <a href="../projects/html_css_projects.html" target="_self">here</a>.</p>      

       <p>Here is the training completion certificate :</p>
       <p><a href="https://udemy-certificate.s3.amazonaws.com/image/UC-HJ0W0429.jpg" target="_blank">one</a></p>

       
    </div>

    <h3>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>
    </h3>

  </body>

</html>
