<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_iosswift.css">
  </head>

  <body>

    <h3>
      <a href="../index1.html" target="_self">Back</a>
    </h3>

    <div>
       <p>Mac environment and mobile development came new to me, 
          so I decided to complete two courses, 
          to get better grasp over the material. 
          The different lecturing styles and tutors experience also were a benefit,
          that let me compare common topics from separated perispectives. 
          <a href="https://www.udemy.com/complete-ios-11-developer-course/" target="_blank">Here</a> is the first one,
          I have attended, and <a href="https://www.udemy.com/devslopes-ios11/" target="_blank">here</a> is the second one. 
         Both courses were scoped over IOS11 mobile development with Swift 4.2 version.
       </p>

       <p>I will try to keep track of my xcode projects <a href="../projects/ios_swift_projects.html" target="_self">here</a>.</p>      

       <p>Here are the training completion certificates :</p>
       <p><a href="https://udemy-certificate.s3.amazonaws.com/image/UC-62RQXUE2.jpg" target="_blank">one</a></p>
       <p><a href="https://udemy-certificate.s3.amazonaws.com/image/UC-U1UQLBNZ.jpg" target="_blank">two</a></p>
       
    </div>

    <h3>
      <span><a href="https://github.com/Koceto1973" target="_blank">GitHub</a> profile</span>
      <span> mail: koceto1973@yahoo.ca</span>
    </h3>

  </body>

</html>
