<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title> wavelet.online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {{> favicons }}

    <link rel="stylesheet" type="text/css" href="/teamk-reset.css">
    <link rel="stylesheet" type="text/css" href="/main_javascript.css">
  </head>

  <body>

    {{> header }}

    <div>
       <p>After some time spent touching this script language from here and there,
         the right time came to bring on board the missing third one from the holly tripple Front-End herd.
         <a href="https://www.udemy.com/the-complete-javascript-course/" target="_blank">This</a> was my choice as
         a starter JS course to cement the foundations. It was a fast pace, well accenting on corner stones
         lecturing combined with interesting projects. Then I took
         <a href="https://www.udemy.com/understand-javascript/learn/v4/overview" target="_blank">another</a>
         course, giving myself a better undestanding of JS wierd stuff and internals of the JS language.</p>

        <p>Projecting my curiousity over to the server side,
         <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/" target="_blank">this</a>
         was the first Node.js course I enrolled. It was a fresh fast pace introduction into the language, which
         soon after basic syntax details ran into practical application ans integration of 3rd party libraries 
         building CLI interfaces, Web applications, Rest APIs and Socket.io applications relying on frameworks 
         like JQuery and Express, MongoDB storage and Heroku hosting options. Not to leave the core Node.js 
         unexplored, I entered <a href="https://pirple.thinkific.com/courses/the-nodejs-master-class" target="_blank">the node.js master class</a> 
         course building all those functionalities in raw Node.js - no frameworks, no npm, no dependencies. 
         It was amasing to discover the full potential of the language.</p>

       <p>I will try to keep track of my JS/ Node.js projects <a href="/b/js/p" target="_self">here</a>.</p>

       <p>Here are the training completion certificates :</p>
       <p><a href="https://udemy-certificate.s3.amazonaws.com/image/UC-NCKFCP6X.jpg" target="_blank">JS certificate 1</a>......
       <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-JWIMMAK5.jpg" target="_blank">JS certificate 2</a>......
       <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-8HSG7OO2.jpg" target="_blank">Node.js certificate 1</a></p>

    </div>

    {{> footer }}

  </body>

</html>
